# 项目背景
- 基于rust的workspace项目，包含多个子项目，主要内容为一些服务项目，web后台项目，一些公用工具和proc- macro

## 文件结构
- *.service 代表需要部署的服务单元
- deploy.sh 部署脚本，计划cargo-script稳定后迁移
- compose.yaml 基于docker的一些项目依赖项和其他的内容 如数据库， 自托管的项目等
- migrations/ 数据库迁移文件存放处 用于ci中一些建表脚本 添加表基础数据等 也可快速用于新环境部署
- create/hs_server 炉石相关服务内容
- crates/book_server 书相关服务内容
- crates/utils_derive 自定义derive宏存放此处
- crates/web 目前仅用于书的b端前端

## 项目技术背景
- 基于tokio的异步框架
- 基于axum的web框架
- 基于leptos的web框架
- 基于sqlx的数据库客户端

## 代码策略
- 关注版本变化，优先使用最新稳定版本的语法 