[Unit]
Description=Recipes Service
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=lighthouse
WorkingDirectory=/home/lighthouse/project/all_server
# 从.env文件加载环境变量
EnvironmentFile=/home/lighthouse/project/all_server/.env

# 二进制
ExecStart=/home/lighthouse/project/all_server/target/release/hrms_server

Restart=always
RestartSec=5

# 确保有足够的资源限制
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target